@media (min-width: 768px) {
  #hero.half-sm-height {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  #hero {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  #hero {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  #hero.half-sm-height .swiper-wrapper {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content {
    left: 150px;
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  #hero .swiper-slide .slider-item {
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  #hero.half-sm-height .swiper-wrapper .slider-item .slider-content {
    position: relative;
  }
}
@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content {
    left: 150px;
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
  #hero .slider-desktop {
    display: block;
  }
}

@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content h1,
  #hero .swiper-slide .slider-item .slider-content .h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    width: calc(100% + 40px);
  }
}
