#generic-banner {
  padding: 30px 0 30px;
}

#generic-banner .left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f05a23;
  position: relative;
  display: inline-block;
}
#generic-banner .left span::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f05a23;
  width: 40px;
  right: -50px;
  top: 10px;
}
#generic-banner .right .banner-link a:hover {
  transition: all 0.25s ease-in;
  color: #000000;
}
#generic-banner .left h1,
#generic-banner .left .h1 {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}

#generic-banner .right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 350px;
  color: #4e4e4e;
}
#generic-banner .right .banner-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f05a23;
  transition: all 0.25s ease-in-out;
}

/* Blog */
#blog.section-spacing {
  padding-top: 50px;
}
.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}

#blog .single-blog-column {
  margin-bottom: 60px;
}
#blog .single-blog-column .image img {
  border-radius: 20px 0 0 0;
  max-height: 400px;
  object-fit: cover;
}
#blog .single-blog-column .content {
  padding-left: 20px;
}
#blog .single-blog-column .content .post-date {
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
}
#blog .single-blog-column .content h2,
#blog .single-blog-column .content .h2 {
  font-size: 32px;
  line-height: 48px;
}
#blog .single-blog-column .content h2 a,
#blog .single-blog-column .content .h2 a {
  font-weight: 400;
}
#blog .single-blog-column .content p {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

#blog .three-blog-column {
  margin-bottom: 30px;
}

#blog .three-blog-column .image {
  margin-bottom: 30px;
}
#blog .three-blog-column .image img {
  border-radius: 20px 0 0 0;
  width: 410px;
  height: 270px;
  object-fit: cover;
}
#blog .three-blog-column .content .post-date {
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
}
#blog .three-blog-column .content h2,
#blog .three-blog-column .content .h2 {
  font-size: 20px;
  line-height: 32px;
}
#blog .three-blog-column .content h2 a,
#blog .three-blog-column .content .h2 a {
  font-weight: 400;
}
#blog .three-blog-column .content p {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  margin-bottom: 0;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
#blog .pagination .page-link {
  border: none;
  padding: 10px 20px;
  color: #c0c0c0;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-link {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
