@media (max-width: 1199.98px) {
  .core-services .short-list-row .left {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .core-services .short-list-row .right {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #generic-banner .right {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #generic-banner {
    padding: 50px 0 50px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left h1,
  #generic-banner .left .h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .right {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  #hero.half-sm-height {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  #hero {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  #hero {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  #hero.half-sm-height .swiper-wrapper {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content {
    left: 150px;
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  #hero .swiper-slide .slider-item {
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  #hero.half-sm-height .swiper-wrapper .slider-item .slider-content {
    position: relative;
  }
}
@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content {
    left: 150px;
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
  #hero .slider-desktop {
    display: block;
  }
}

@media (min-width: 1200px) {
  #hero .swiper-slide .slider-item .slider-content h1,
  #hero .swiper-slide .slider-item .slider-content .h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    width: calc(100% + 40px);
  }
}
@media (min-width: 1200px) {
  .fun-fact .single-funfact {
    border-right: 1px solid #dddfe3;
  }
}

@media (min-width: 1200px) {
  .for-desktop {
    display: block;
  }
}

@media (min-width: 1200px) {
  #awards .header-highlight {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  #awards .header-highlight h2,
  #awards .header-highlight .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #asset-map .asset-large-map-desktop {
    display: none;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .page-header h2,
  .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .page-header h2,
  .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .core-services .short-list-row {
    width: 920px;
  }
}

@media (max-width: 1199.98px) {
  #message-from-ceo .content-bio {
    height: calc(var(--app-height) - 460px);
    padding-right: 10px;
  }
}
@media (max-width: 1199.98px) {
  #message-from-ceo .message-container .content p {
    text-align: left;
  }
}
@media (max-width: 1199.98px) {
  #message-from-ceo .message-container .content .content-title {
    padding-top: 5px;
  }
}
@media (min-width: 1300px) {
  #message-from-ceo {
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 100%;
  }
}
@media (min-width: 1300px) {
  #message-from-ceo .message-container .content img {
    height: 100%;
    max-width: 470px;
  }
}

@media (min-width: 1300px) {
  #message-from-ceo .message-container .content .message {
    padding: 40px 40px 40px 0;
  }
}
@media (min-width: 1300px) {
  #message-from-ceo .message-container .content h2,
  #message-from-ceo .message-container .content .h2 {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 60px;
  }
}
