@media (max-width: 767.98px) {
  #single-banner .overlay-text img {
    height: 200px;
  }
}
@media (max-width: 1199.98px) {
  #single-banner .overlay-text h3,
  #single-banner .overlay-text .h3 {
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 1199.98px) {
  #contact-map
    .custom-row
    .left-side
    .custom-container
    .box-contact-info
    .social-icons {
    padding-bottom: 30px;
  }
}
@media (max-width: 1199.98px) {
  #contact-map .custom-row .right-side {
    max-width: 100%;
    flex: 50%;
  }
}
@media (max-width: 1199.98px) {
  .site-footer a.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1199.98px) {
  .site-footer span.copyright {
    text-align: center;
  }
}
@media (max-width: 1199.98px) {
  .site-footer ul.footer-menu-bottom {
    justify-content: center;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 1199.98px) and (max-width: 1199.98px) {
  .site-footer .footer-item-2 {
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 1199.98px) {
  .site-footer .footer-item-2 {
    display: flex;
    width: 50%;
    text-align: left;
  }
}
@media (max-width: 1199.98px) {
  .site-footer .footer-social ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1199.98px) {
  .site-footer .footer-social ul li {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .main-menu-area {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 992px) {
  .main-menu-area {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 992px) {
  .ml_lg--30 {
    margin-left: 30px;
  }
}

@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  #contact-form h3,
  #contact-form .h3 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #contact-map .custom-row .left-side {
    max-width: 50%;
    flex: 50%;
  }
}
@media (min-width: 1200px) {
  #contact-map .custom-row .left-side .custom-container .box-contact-info {
    border-radius: 20px 0px 0px 0px;
    position: absolute;
    height: 480px;
    padding: 50px 60px 0;
  }
}
@media (min-width: 1300px) {
  #contact-map .custom-row .right-side img {
    max-height: 550px;
  }
}
@media (min-width: 992px) {
  .pb_lg--120 {
    padding-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .pt_lg--120 {
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .site-footer ul.footer-menu {
    padding: 0 0 0 50px;
  }
}
