.transparent-header {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #4e4e4e12;
}

.main-menu-area {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-menu-area .nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu-area .nav-menu li.menu-item-has-children {
  position: relative;
}
.transparent-header .main-menu-area .nav-menu li a {
  color: #000000;
  transition: all 1ms ease-in;
}
.main-menu-area .nav-menu li a {
  padding: 1.4em 1.21em;
  line-height: 26px;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}
.main-menu-area .nav-menu li .sub-menu {
  min-width: 230px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 57px;
  padding: 15px 0;
  text-align: center;
  list-style-type: none;
  opacity: 0;
  transition: all 0.25s ease;
  visibility: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  transform-origin: left top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-menu-area .nav-menu li a:hover {
  transition: all 0.25s ease-in;
  color: #f05a23 !important;
}
.main-menu-area .nav-menu li:hover > .sub-menu {
  opacity: 1;
  transition: all 0.25s ease;
  visibility: visible;
}
.main-menu-area .nav-menu li .sub-menu li a:hover {
  padding-left: 35px;
  background-color: #f9f9f9;
  color: #f05a23 !important;
}
.nav-menu ul {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 8%);
}
.main-menu-area .nav-menu li {
  position: relative;
}
.main-menu-area .nav-menu li .sub-menu li a {
  padding: 10px 25px;
  display: block;
  font-size: 95%;
  position: relative;
  color: #000000 !important;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transparent-header .main-menu-area .nav-menu li a {
  color: #000000;
  transition: all 1ms ease-in;
}
.main-menu-area .nav-menu li a {
  padding: 1.4em 1.21em;
  line-height: 26px;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
}
.main-menu-area .nav-menu li.menu-item-has-children::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('data:image/svg+xml, %3Csvg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.58578 5.74761C5.69507 5.85625 5.84292 5.91724 5.99703 5.91724C6.15114 5.91724 6.29898 5.85625 6.40828 5.74761L11.0749 1.08094C11.1705 0.969349 11.2204 0.825805 11.2148 0.678994C11.2091 0.532183 11.1482 0.392918 11.0444 0.28903C10.9405 0.185141 10.8012 0.124281 10.6544 0.11861C10.5076 0.112939 10.364 0.162876 10.2524 0.258442L5.99995 4.51094L1.74745 0.252608C1.6376 0.142764 1.48862 0.0810547 1.33328 0.0810547C1.17794 0.0810547 1.02896 0.142764 0.919112 0.252608C0.809268 0.362452 0.747559 0.511432 0.747559 0.666775C0.747559 0.822118 0.809268 0.971098 0.919112 1.08094L5.58578 5.74761Z" fill="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  top: 12px;
  right: -8px;
}
.main-menu-area .nav-menu li:hover::after {
  background-image: url('data:image/svg+xml, %3Csvg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.58578 5.74761C5.69507 5.85625 5.84292 5.91724 5.99703 5.91724C6.15114 5.91724 6.29898 5.85625 6.40828 5.74761L11.0749 1.08094C11.1705 0.969349 11.2204 0.825805 11.2148 0.678994C11.2091 0.532183 11.1482 0.392918 11.0444 0.28903C10.9405 0.185141 10.8012 0.124281 10.6544 0.11861C10.5076 0.112939 10.364 0.162876 10.2524 0.258442L5.99995 4.51094L1.74745 0.252608C1.6376 0.142764 1.48862 0.0810547 1.33328 0.0810547C1.17794 0.0810547 1.02896 0.142764 0.919112 0.252608C0.809268 0.362452 0.747559 0.511432 0.747559 0.666775C0.747559 0.822118 0.809268 0.971098 0.919112 1.08094L5.58578 5.74761Z" fill="orange"/%3E%3C/svg%3E') !important;
  transform: rotate(180deg);
  top: 6px !important;
}
.main-menu-area .nav-menu li:hover::after {
  transform: rotate(180deg);
  top: 6px !important;
}
.main-menu-area .nav-menu li a:hover {
  transition: all 0.25s ease-in;
  color: #f05a23 !important;
}

/* Mobile Menu */
.mobile-menu {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2b2b2bf5;
  height: 100%;
  z-index: -1;
  transform: translate3d(-100%, 0, 0) scaleX(0.5);
  transform-origin: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.mobile-menu .close-menu {
  text-align: right;
}
.mobile-menu .nav-menu {
  padding-top: 50px;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.mobile-menu .nav-menu li {
  position: relative;
  transition: all 0.25s ease;
}
.mobile-menu .nav-menu li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu .nav-menu li .sub-menu {
  display: none;
  box-shadow: none;
  list-style: none;
}
.mobile-menu .nav-menu li {
  position: relative;
  transition: all 0.25s ease;
}
.mobile-menu .nav-menu li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.transparent-header .mobile-menu .nav-menu li.menu-item-has-children::after {
  background-image: url('data:image/svg+xml, %3Csvg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.58578 5.74761C5.69507 5.85625 5.84292 5.91724 5.99703 5.91724C6.15114 5.91724 6.29898 5.85625 6.40828 5.74761L11.0749 1.08094C11.1705 0.969349 11.2204 0.825805 11.2148 0.678994C11.2091 0.532183 11.1482 0.392918 11.0444 0.28903C10.9405 0.185141 10.8012 0.124281 10.6544 0.11861C10.5076 0.112939 10.364 0.162876 10.2524 0.258442L5.99995 4.51094L1.74745 0.252608C1.6376 0.142764 1.48862 0.0810547 1.33328 0.0810547C1.17794 0.0810547 1.02896 0.142764 0.919112 0.252608C0.809268 0.362452 0.747559 0.511432 0.747559 0.666775C0.747559 0.822118 0.809268 0.971098 0.919112 1.08094L5.58578 5.74761Z" fill="white"/%3E%3C/svg%3E');
}
.mobile-menu .nav-menu li.menu-item-has-children::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('data:image/svg+xml, %3Csvg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.58578 5.74761C5.69507 5.85625 5.84292 5.91724 5.99703 5.91724C6.15114 5.91724 6.29898 5.85625 6.40828 5.74761L11.0749 1.08094C11.1705 0.969349 11.2204 0.825805 11.2148 0.678994C11.2091 0.532183 11.1482 0.392918 11.0444 0.28903C10.9405 0.185141 10.8012 0.124281 10.6544 0.11861C10.5076 0.112939 10.364 0.162876 10.2524 0.258442L5.99995 4.51094L1.74745 0.252608C1.6376 0.142764 1.48862 0.0810547 1.33328 0.0810547C1.17794 0.0810547 1.02896 0.142764 0.919112 0.252608C0.809268 0.362452 0.747559 0.511432 0.747559 0.666775C0.747559 0.822118 0.809268 0.971098 0.919112 1.08094L5.58578 5.74761Z" fill="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  top: 25px;
  right: 0;
}

/* Single Banner */
#single-banner .overlay-text {
  position: relative;
}
#single-banner .overlay-text img {
  width: 100%;
  object-fit: cover;
  max-height: 700px;
}
#single-banner .overlay-text h3,
#single-banner .overlay-text .h3 {
  font-weight: 300;
  font-size: 50px;
  line-height: 75px;
  color: #fff;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Contact Form */
#contact-form {
  background-color: #fafafa;
}
.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
#contact-form h3,
#contact-form .h3 {
  color: #000000;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}
#contact-form p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #4e4e4e;
  text-align: center;
}
.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
}

#contact-form p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #4e4e4e;
  text-align: center;
}
#contact-form form {
  margin-top: 60px;
}
#contact-form form .form-group {
  margin-bottom: 30px;
}
.wpcf7-form-control-wrap {
  position: relative;
}
#contact-form form .form-group input,
#contact-form form .form-group select {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  color: #4e4e4e;
  transition: all 1ms ease-in-out;
}
#contact-form form .form-group input,
#contact-form form .form-group select {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  color: #4e4e4e;
  transition: all 1ms ease-in-out;
}
#contact-form form .form-group.arrow {
  position: relative;
}
#contact-form form .form-group {
  margin-bottom: 30px;
}
#contact-form form .form-group select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
#contact-form form .form-group input,
#contact-form form .form-group select {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  color: #4e4e4e;
  transition: all 1ms ease-in-out;
}
#contact-form form .form-group.arrow::after {
  position: absolute;
  content: "";
  background-image: url('data:image/svg+xml, %3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M16.0773 6.07739L17.2559 7.2559L9.99994 14.5118L2.74402 7.2559L3.92253 6.07739L9.99994 12.1548L16.0773 6.07739Z" fill="%234E4E4E"/%3E%3C/svg%3E');
  right: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  top: 15px;
}
#contact-form form .form-group textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  color: #4e4e4e;
  transition: all 0.25s ease-in-out;
}
textarea {
  overflow: auto;
  resize: vertical;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
textarea {
  overflow: auto;
  resize: vertical;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.wpcf7-submit {
  border-radius: 10px 0px 0px 0px;
  background-color: #f05a23;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 9px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  font-weight: 500;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.wpcf7-submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.wpcf7-submit span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* Contact Map */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
#contact-map .custom-row {
  display: flex;
  flex-wrap: wrap;
}

#contact-map .custom-row .left-side {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  flex: 100%;
}
#contact-map .custom-row .left-side .custom-container {
  height: 100%;
  position: relative;
}

#contact-map .custom-row .left-side .custom-container .box-contact-info {
  background-color: #ffffffb8;
  height: auto;
  width: 100%;
  bottom: 0;
  padding: 30px;
  padding: 30px 30px 0;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .address {
  margin-bottom: 40px;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .address
  .item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .address
  .item
  .icon {
  max-width: 30px;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .address
  .item
  .content {
  max-width: calc(100% - 30px);
  padding-left: 20px;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .address
  .item
  .content
  span {
  font-size: 16px;
  line-height: 26px;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .social-icons
  .icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: #f05a2344;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
}
#contact-map .custom-row .right-side {
  max-width: 50%;
  flex: 100%;
  text-align: right;
}

#contact-map .custom-row .right-side img {
  width: 100%;
  object-fit: cover;
  max-height: 550px;
}
#contact-form form .form-group input:focus,
#contact-form form .form-group select:focus {
  outline: none;
  border: 2px solid #f05a23;
  transition: all 1ms ease-in;
}
#contact-form form .form-group textarea:focus {
  outline: none;
  border: 2px solid #f05a23;
  transition: all 0.25s ease-in;
}
.wpcf7-submit:hover span {
  padding-right: 25px;
}
.wpcf7-submit:hover span:after {
  opacity: 1;
  right: 0;
}
#contact-map
  .custom-row
  .left-side
  .custom-container
  .box-contact-info
  .social-icons
  .icon:hover {
  background-color: #f05a23;
  transition: all 0.25s ease;
}

/* Footer */
.site-footer {
  background-color: #2b2b2b;
}

.pb--60 {
  padding-bottom: 60px;
}

.pt--60 {
  padding-top: 60px;
}
.site-footer a.footer-logo {
  padding-bottom: 60px;
  display: block;
}
.site-footer span.copyright {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 15px;
}
.site-footer ul.footer-menu-bottom {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer ul.footer-menu-bottom li:last-child a {
  border: none;
}
.site-footer ul.footer-menu-bottom li a {
  border-right: 1px solid;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  line-height: 14px;
  margin-right: 10px;
  padding-right: 10px;
  transition: all 0.25s ease-in-out;
}

.site-footer ul.footer-menu {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.site-footer ul.footer-menu li {
  padding-bottom: 30px;
}
.site-footer ul.footer-menu li a {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.site-footer ul.footer-menu li a {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.site-footer ul.footer-menu li a:hover {
  transition: all 0.25s ease-in;
  color: #f05a23;
}
