@media (min-width: 1200px) {
  #generic-banner .right {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #generic-banner {
    padding: 50px 0 50px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left h1,
  #generic-banner .left .h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .right {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #banner-video {
    height: 100vh;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  #generic-service .single-service-item {
    min-height: 410px;
    width: 30.33%;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .team h2,
  .team .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .team h2,
  .team .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .team .member img {
    max-height: 500px;
  }
}
@media (min-width: 768px) {
  .team .modal.open .modal-dialog .modal-content .custom-row .left {
    order: 2;
    flex: 1 1 40%;
  }
}
@media (min-width: 768px) {
  .team .modal.open .modal-dialog .modal-content .member-img img.team-desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  .team .member img {
    max-height: 500px;
  }
}
@media (min-width: 768px) {
  .team .modal.open .modal-dialog .modal-content .custom-row .right {
    order: 1;
    flex: 1 1 60%;
  }
}
@media (min-width: 1200px) {
  .for-md-desktop {
    display: block;
  }
}
@media (min-width: 768px) {
  .team .modal.open .modal-dialog .modal-content .details .overview {
    max-height: 280px;
  }
}
@media (min-width: 1200px) {
  section#slider-archive {
    margin: 120px 0 0px;
    padding-top: 0;
    min-height: 450px;
  }
}
@media (min-width: 1200px) {
  .for-desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  section#slider-archive .swiper-wrapper {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .for-desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  .for-desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  section#slider-archive .swiper-wrapper {
    height: 400px;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  #awards .header-highlight {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  #awards .header-highlight h2,
  #awards .header-highlight .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #newsletter h3,
  #newsletter .h3 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #newsletter .mc4wp-form input[type="email"] {
    width: 340px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  #newsletter .mc4wp-form input[type="submit"] {
    left: -10px;
  }
}
