#generic-banner {
  padding: 30px 0 30px;
}
#generic-banner .left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f05a23;
  position: relative;
  display: inline-block;
}
#generic-banner .left span::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f05a23;
  width: 40px;
  right: -50px;
  top: 10px;
}
#generic-banner .right .banner-link a:hover {
  transition: all 0.25s ease-in;
  color: #000000;
}
#generic-banner .left h1,
#generic-banner .left .h1 {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
#generic-banner .right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 350px;
  color: #4e4e4e;
}
#generic-banner .right .banner-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f05a23;
  transition: all 0.25s ease-in-out;
}
/* Banner Video */

#banner-video {
  height: 100%;
  overflow: hidden;
}
#banner-video video {
  object-fit: fill;
  width: 100%;
  height: auto;
}

/* Generic Service */
#generic-service {
  position: relative;
}
.spacing-bottom-none {
  padding-bottom: 0 !important;
}

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.position-relative {
  position: relative;
}
#generic-service .highlight-text {
  margin-bottom: 88px;
}
#generic-service .highlight-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #000000;
  margin-bottom: 30px;
}
#generic-service .main-service-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#generic-service .single-service-item {
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9;
  min-height: 575px;
  overflow: hidden;
  border-radius: 20px 0 0;
  width: 100%;
  margin-bottom: 30px;
  min-height: auto;
}
#generic-service .single-service-item h3,
#generic-service .single-service-item .h3 {
  color: #000000;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 50px;
  position: relative;
}
#generic-service .single-service-item h3::after,
#generic-service .single-service-item .h3::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -25px;
}
#generic-service .single-service-item p {
  color: #424143;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}
#generic-service .single-service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #dddfe3d9;
  z-index: -1;
}
/* TEam Section */
.spacing-bottom-none {
  padding-bottom: 0 !important;
}

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team .member {
  padding-bottom: 40px;
}

.team .member img {
  height: auto;
  border-radius: 20px 0 0;
}
.team .member h3,
.team .member .h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 0px 10px;
}
.team .member span {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  margin-bottom: 10px;
}
/* Team modal */
.team .modal {
  visibility: hidden;
  height: 0;
  opacity: 0;
}
.team .modal.open {
  visibility: visible;
  height: 100%;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.team .modal.open .modal-dialog {
  position: relative;
  width: auto;
  max-width: 1140px;
  margin: auto;
}
.team .modal.open .modal-dialog .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  position: relative;
}
.team .modal.open .modal-dialog .modal-content .custom-row {
  display: flex;
  flex-wrap: wrap;
}

.team .modal.open .modal-dialog .modal-content .custom-row .left {
  flex: 100%;
}
.team .modal.open .modal-dialog .modal-content .custom-row .left .member-img {
  position: relative;
}
.team .modal.open .modal-dialog .modal-content .member-img .close-modal {
  position: absolute;
  background: #f05a23;
  width: 60px;
  z-index: 9999;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  transition: all 0.25s ease-in-out;
  margin: 20px;
  cursor: pointer;
}

.team .modal.open .modal-dialog .modal-content .member-img img.team-desktop {
  display: none;
}
.team .modal.open .modal-dialog .modal-content .member-img img {
  width: 100%;
  border-radius: 0;
}

.team .member img {
  height: auto;
  border-radius: 20px 0 0;
}
.for-md-mobile {
  display: none;
}
.team
  .modal.open
  .modal-dialog
  .modal-content
  .custom-row
  .left
  .member-img
  .name-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: linear-gradient(360deg, #4b4b4b 0%, rgba(75, 75, 75, 0) 33.54%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.team
  .modal.open
  .modal-dialog
  .modal-content
  .custom-row
  .left
  .member-img
  .name-section
  h3,
.team
  .modal.open
  .modal-dialog
  .modal-content
  .custom-row
  .left
  .member-img
  .name-section
  .h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 5px;
}
.team .member h3,
.team .member .h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 0px 10px;
}
.team
  .modal.open
  .modal-dialog
  .modal-content
  .custom-row
  .left
  .member-img
  .name-section
  span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0px;
}
.team .member span {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  margin-bottom: 10px;
}

.team .modal.open .modal-dialog .modal-content .custom-row .right {
  flex: 100%;
}
.team .modal.open .modal-dialog .modal-content .details {
  padding: 40px 20px 40px 40px;
}

.for-md-desktop {
  display: none;
}
.team .modal.open .modal-dialog .modal-content .details h3,
.team .modal.open .modal-dialog .modal-content .details .h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 15px;
}
.team .member h3,
.team .member .h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 0px 10px;
}
.team .modal.open .modal-dialog .modal-content .details span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #4e4e4e;
  margin-bottom: 20px;
  display: block;
  border-bottom: 1px solid #dddfe3;
  padding-bottom: 20px;
}
.team .member span {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  margin-bottom: 10px;
}

.team .modal.open .modal-dialog .modal-content .details .overview {
  overflow: auto;
  position: relative;
}
.team .modal.open .modal-dialog .modal-content .details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
  padding-right: 20px;
}
/* Slider Archive */

section#slider-archive {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  margin: 50px 0 0px;
  min-height: 430px;
  padding-top: 50px;
}
section#slider-archive .for-desktop {
  position: relative;
}

.for-desktop {
  display: none;
}
section#slider-archive .circular-image {
  position: relative;
  transform: translate(55px);
}
section#slider-archive .circular-image img {
  position: absolute;
  top: 0px;
  left: 0px;
}
section#slider-archive .m-slider-archive {
  height: 100px;
}
.for-mobile {
  display: none;
}

section#slider-archive .swiper-wrapper {
  position: relative;
  height: auto;
  background-size: cover;
}
section#slider-archive .m-slider-archive .item-of-year {
  background: #1d1d1d;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
  opacity: 0.3;
  margin: 0 auto;
}
section#slider-archive .carousel.for-desktop {
  padding-top: 70px;
  margin-top: 20px;
  padding-bottom: 50px;
}
section#slider-archive .for-desktop {
  position: relative;
}

.for-desktop {
  display: none;
}
section#slider-archive .swiper-wrapper .archive-year {
  background: #1d1d1d;
  color: #ffffff78;
  border-radius: 50px;
  width: 118px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 38px;
}
section#slider-archive .for-desktop {
  position: relative;
}

.for-desktop {
  display: none;
}
section#slider-archive .for-desktop .timeline-desktop-nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 30px;
}
section#slider-archive .for-desktop .timeline-desktop-nav .navigation {
  display: flex;
  opacity: 0;
}
section#slider-archive
  .for-desktop
  .timeline-desktop-nav
  .navigation
  a.prev.active {
  background-color: #f05a23;
  transition: all 0.25s ease-in-out;
}
section#slider-archive .for-desktop .timeline-desktop-nav .navigation a.prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 96, 0.6);
  border-radius: 5px 0 0;
  transition: all 0.25s ease-in;
}
section#slider-archive .for-desktop .timeline-desktop-nav .navigation a.next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 96, 0.6);
  border-radius: 0 0 5px;
  transition: all 0.25s ease-in-out;
}
section#slider-archive .carousel-two {
  position: relative;
  overflow: hidden;
  width: 80%;
  border-radius: 50px;
}
section#slider-archive .carousel_container2 {
  height: 100%;
  display: flex;
  align-items: center;
}

section#slider-archive .swiper-wrapper {
  position: relative;
  height: auto;
  background-size: cover;
}
section#slider-archive .carousel-two .content-panel {
  background: rgba(254, 247, 244, 0.7);
  border-radius: 50px;
}
section#slider-archive .carousel-two .content-panel .content {
  padding: 25px;
}
section#slider-archive .carousel-two .content-panel .content .row {
  align-content: center;
  justify-content: space-between;
}
section#slider-archive .carousel-two .content-panel .content .row p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.for-mobile {
  display: none;
}
section#slider-archive .for-mobile .timeline-mobile-nav {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  position: relative;
}
section#slider-archive .for-mobile .navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  opacity: 0;
}
section#slider-archive .for-mobile .navigation a.prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 96, 0.6);
  border-radius: 5px 0 0;
  transition: all 0.25s ease-in;
}
section#slider-archive .for-mobile .navigation a.prev svg path {
  fill: #f05a23;
}

/* Awards */

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
#awards .header-highlight {
  margin-bottom: 0px;
}

#awards .header-highlight h2,
#awards .header-highlight .h2 {
  font-size: 32px;
  line-height: 48px;
}
#awards .header-highlight .navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 26px;
  right: 17px;
}
#awards .header-highlight .navigation a.prev.active {
  background-color: #f05a23;
  transition: all 0.25s ease-in-out;
}
#awards .header-highlight .navigation a.prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #f05a23;
  border-radius: 5px 0 0;
  transition: all 0.25s ease-in;
}
#awards .header-highlight .navigation a.next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #f05a23;
  border-radius: 0 0 5px;
  transition: all 0.25s ease-in-out;
}
#awards .awards-main {
  overflow: hidden;
}
#awards .awards-main .single-awards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #dddfe3;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 0px;
}
#awards .awards-main .single-awards .thumb {
  padding: 30px;
}
#awards .awards-main .single-awards .thumb img {
  height: 175px;
  object-fit: contain;
}
#awards .awards-main .single-awards .content {
  border-top: 1px solid #dddfe3;
  padding: 30px;
}
#awards .awards-main .single-awards .content h3,
#awards .awards-main .single-awards .content .h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
}
#awards .awards-main .single-awards .content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
}
/* News Letter */
#newsletter {
  padding: 145px 0 145px;
  position: relative;
  z-index: 9;
  background-size: cover;
}
#newsletter::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000006e;
  top: 0;
}

#newsletter h3,
#newsletter .h3 {
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
#newsletter p {
  font-size: 16px;
  line-height: 26px;
  color: #c0c0c0;
}

#newsletter .mc4wp-form input[type="email"] {
  width: 100%;
  margin-bottom: 30px;
  height: 58px;
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
  padding: 17px 0px 17px 30px;
  border-radius: 5px 0px 0px 0px;
  background-color: #fef7f4;
  outline: none;
  border: none;
}

#newsletter .mc4wp-form input[type="submit"] {
  background-color: #f05a23;
  border-radius: 5px 0px 0px 0px;
  width: 170px;
  height: 58px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
