@media (max-width: 991.98px) {
  #application-form form #verify-email .form-row {
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  #application-form form #verify-email .verify-email {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  #application-form form #verify-email .col-lg-2 {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  #application-form .page-header h2,
  #application-form .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .page-header h2,
  .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}
