.concerns .grid .column .thumb img {
  margin-bottom: 0 !important;
}
.concerns .grid .column .thumb img {
  height: auto;
  filter: grayscale(80%);
}
.concerns .grid .column .thumb::after {
  background: transparent;
}
.concerns .grid .column .thumb:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 146px;
  z-index: 9;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0.01%,
    #000000 100%
  );
  opacity: 0.8;
  top: calc(100% - 146px);
}
.concerns .grid .column .thumb::after {
  transition: all 1.5s ease;
}
#hero .swiper-slide .slider-item .slider-content h1,
#hero .swiper-slide .slider-item .slider-content .h1 {
  font-weight: 400;
  text-shadow: 2px 2px black;
}

.concerns .grid .column .thumb .attachment-full {
  transition: all 1.5s linear;
}
.concerns .grid .column .thumb {
  overflow: hidden;
}
.concerns .grid .column .thumb:hover .attachment-full {
  transform: scale(1.02);
}
.concerns .grid .column .thumb h4 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.concerns .grid .column .thumb a.learn-more {
  bottom: 10px;
}
#hero .swiper-slide .slider-item .slider-image::after {
  background: #00000040;
}
#carousel-image-slider .swiper-slide img {
  height: auto;
}
