#highligted-project {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9;
}
#highligted-project::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.712);
}
#highligted-project .full-imgage {
  margin-bottom: 40px;
}
#highligted-project .full-imgage img {
  width: 100%;
  object-fit: cover;
}
#highligted-project .content h3,
#highligted-project .content .h3 {
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  #highligted-project .content h3,
  #highligted-project .content .h3 {
    font-size: 32px;
    line-height: 48px;
  }
}
#highligted-project .content p {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
}
.residential-project {
  background-color: #fafafa;
}
@media (max-width: 1199.98px) {
  .residential-project.spacing-top-none .mySwiper {
    padding-top: 0;
  }
}
@media (max-width: 1199.98px) {
  .residential-project.spacing-top-none .mySwiper .custom-row {
    padding-top: 0;
  }
}
.residential-project h2,
.residential-project .h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}
@media (max-width: 1199.98px) {
  .residential-project h2,
  .residential-project .h2 {
    font-size: 32px;
    line-height: 48px;
  }
}
.residential-project p {
  font-size: 16px;
  line-height: 26px;
}
.residential-project .navigation {
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: -50px;
  right: 0;
  float: right;
  z-index: 9;
}
@media (min-width: 1300px) {
  .residential-project .navigation {
    justify-content: flex-end;
    position: absolute;
    bottom: -70px;
    right: 40px;
  }
}
@media (min-width: 1500px) {
  .residential-project .navigation {
    bottom: 0px;
  }
}
.residential-project .navigation a.prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 96, 0.6);
  border-radius: 5px 0 0;
  transition: all 0.25s ease-in;
}
.residential-project .navigation a.prev svg path {
  fill: #f05a23;
}
.residential-project .navigation a.prev.active {
  background-color: #f05a23;
  transition: all 0.25s ease-in-out;
}
.residential-project .navigation a.prev.active svg path {
  fill: #000;
}
.residential-project .navigation a.next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 96, 0.6);
  border-radius: 0 0 5px;
  transition: all 0.25s ease-in-out;
}
.residential-project .navigation a.next svg path {
  fill: #f05a23;
}
.residential-project .navigation a.next.active {
  background-color: #f05a23;
  transition: all 0.25s ease-in-out;
}
.residential-project .navigation a.next.active svg path {
  fill: #000;
}
.residential-project .mySwiper {
  padding-top: 30px;
}
@media (max-width: 1199.98px) {
  .residential-project .custom-row {
    padding: 15px;
  }
}
.residential-project .custom-row .project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.residential-project .custom-row .project .left-part {
  flex: 50%;
  max-width: 50%;
}
@media (max-width: 1199.98px) {
  .residential-project .custom-row .project .left-part {
    flex: 100%;
    max-width: 100%;
    order: 2;
  }
}
.residential-project .custom-row .project .left-part .content {
  position: relative;
  width: 470px;
}
@media (max-width: 1199.98px) {
  .residential-project .custom-row .project .left-part .content {
    width: 100%;
  }
}
.residential-project .custom-row .project .left-part .content h3,
.residential-project .custom-row .project .left-part .content .h3 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .residential-project .custom-row .project .left-part .content h3,
  .residential-project .custom-row .project .left-part .content .h3 {
    font-size: 40px;
    line-height: 60px;
  }
}
.residential-project .custom-row .project .left-part .content .icon-row {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 50%;
}
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item
  .icon {
  width: 60px;
}
@media (max-width: 575.98px) {
  .residential-project
    .custom-row
    .project
    .left-part
    .content
    .icon-row
    .icon-item
    .icon {
    width: 50px;
  }
}
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item
  .icon
  img {
  position: relative;
  top: 5px;
}
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item
  .icon-content
  h4,
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item
  .icon-content
  .h4 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
@media (max-width: 575.98px) {
  .residential-project
    .custom-row
    .project
    .left-part
    .content
    .icon-row
    .icon-item
    .icon-content
    h4,
  .residential-project
    .custom-row
    .project
    .left-part
    .content
    .icon-row
    .icon-item
    .icon-content
    .h4 {
    font-size: 18px;
  }
}
.residential-project
  .custom-row
  .project
  .left-part
  .content
  .icon-row
  .icon-item
  .icon-content
  span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
}
@media (max-width: 575.98px) {
  .residential-project
    .custom-row
    .project
    .left-part
    .content
    .icon-row
    .icon-item
    .icon-content
    span {
    font-size: 12px;
  }
}
.residential-project .custom-row .project .right-part {
  flex: 50%;
  max-width: 50%;
}
@media (max-width: 1199.98px) {
  .residential-project .custom-row .project .right-part {
    flex: 100%;
    max-width: 100%;
    order: 1;
  }
}
@media (max-width: 767.98px) {
  .residential-project .custom-row .project .right-part {
    padding-top: 30px;
  }
}
.residential-project .custom-row .project .right-part img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
  height: 230px;
}
@media (min-width: 1300px) {
  .residential-project .custom-row .project .right-part img {
    height: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 1500px) {
  .residential-project .custom-row .project .right-part img {
    height: 650px;
  }
}
.residential-project.without-items .navigation {
  bottom: 0;
}
@media (max-width: 575.98px) {
  .residential-project.without-items .navigation {
    bottom: -30px;
  }
}
.residential-project.order .project .left-part {
  order: 2;
}
.residential-project.order .project .right-part {
  order: 1;
}
