#generic-banner {
  padding: 30px 0 30px;
}

#generic-banner .left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f05a23;
  position: relative;
  display: inline-block;
}
#generic-banner .left span::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f05a23;
  width: 40px;
  right: -50px;
  top: 10px;
}
#generic-banner .right .banner-link a:hover {
  transition: all 0.25s ease-in;
  color: #000000;
}
#generic-banner .left h1,
#generic-banner .left .h1 {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}

#generic-banner .right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 350px;
  color: #4e4e4e;
}
#generic-banner .right .banner-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f05a23;
  transition: all 0.25s ease-in-out;
}
/* Image Slider */
#image-slider {
  position: relative;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
#image-slider .swiper .swiper-slide .slider-content img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
#image-slider .swiper .swiper-slide .slider-content {
  position: relative;
}

#image-slider .swiper .swiper-slide .slider-content img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* Fun Fact */
.fun-fact {
  padding-bottom: 0;
}

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fun-fact .single-funfact {
  display: flex;
  margin-bottom: 40px;
  height: 55px;
  align-items: center;
  max-width: 100%;
}
.fun-fact .single-funfact .thumb {
  width: 50px;
}
.fun-fact .single-funfact .text {
  width: calc(100% - 50px);
  padding-left: 15px;
}
.fun-fact .single-funfact .text h4,
.fun-fact .single-funfact .text .h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 2px;
}
.fun-fact .single-funfact .text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
}
.fun-fact .content p {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
}
.fun-fact .content p {
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
}

/* Message From CEO */
#message-from-ceo {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: var(--app-height);
}
#message-from-ceo .message-container {
  background-color: #f7f7f7;
  border-radius: 20px 0 0 0;
  overflow: hidden;
}
#message-from-ceo .message-container .content {
  margin: auto;
}
.align-content-center {
  align-content: center !important;
}

#message-from-ceo .message-container .content img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
img.litespeed-loaded {
  -webkit-transition: opacity 0.5s linear 0.2s;
  -moz-transition: opacity 0.5s linear 0.2s;
  transition: opacity 0.5s linear 0.2s;
  opacity: 1;
}

.for-desktop {
  display: none;
}

#message-from-ceo .message-container .content .message {
  padding: 15px 15px 20px 15px;
}

#message-from-ceo .message-container .content h2,
#message-from-ceo .message-container .content .h2 {
  text-align: left;
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 10px;
}
#message-from-ceo .content-bio {
  height: 210px;
  overflow: auto;
  padding-right: 20px;
  margin-bottom: 20px;
}
#message-from-ceo .message-container .content p {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
#message-from-ceo .message-container .content .name {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0px;
  position: relative;
}
#message-from-ceo .message-container .content span {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  display: block;
  text-transform: uppercase;
}
#message-from-ceo .message-container .content span {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  display: block;
  text-transform: uppercase;
}
/* Generic Concerns */

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.add-bg {
  background-color: #fafafa;
  padding-bottom: 120px !important;
}
#generic-concerns .page-header {
  padding-bottom: 55px;
}

.page-header h2,
.page-header .h2 {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}
#generic-concerns .single-concerns-items {
  border: 1px solid #dddfe3;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
#generic-concerns .single-concerns-items .thumb img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
img.litespeed-loaded {
  -webkit-transition: opacity 0.5s linear 0.2s;
  -moz-transition: opacity 0.5s linear 0.2s;
  transition: opacity 0.5s linear 0.2s;
  opacity: 1;
}
#generic-concerns.add-bg .single-concerns-items .content {
  background-color: #fff;
}
#generic-concerns .single-concerns-items .content {
  padding: 20px;
  position: relative;
  min-height: 330px;
}
#generic-concerns .single-concerns-items .content h3,
#generic-concerns .single-concerns-items .content .h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
#generic-concerns .single-concerns-items .content p {
  padding: 0 0 20px;
  margin-bottom: 0;
}
#generic-concerns .single-concerns-items .content .read-more {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #dddfe3;
  width: 100%;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 24px;
  color: #4e4e4e;
  font-weight: 500;
}
#generic-concerns .single-concerns-items .content .read-more::before {
  content: "";
  border-radius: 0 0 5px;
  position: absolute;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  width: 56px;
  height: 100%;
  top: 0;
  right: 0;
}
#generic-concerns .single-concerns-items .content .read-more svg {
  position: absolute;
  right: 20px;
  top: 30%;
}
#generic-concerns .single-concerns-items .content .read-more::after {
  content: "";
  position: absolute;
  background-color: #dddfe3;
  width: 1px;
  height: 100%;
  top: 0;
  right: 55px;
}

#generic-concerns .single-concerns-items .content .read-more:hover::before {
  background-color: #f05a23;
  transition: all 0.25s ease-in;
}
