@media (max-width: 1199.98px) {
  .united-editor {
    padding: 60px 0 60px;
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  #csr-activities h2,
  #csr-activities .h2 {
    font-size: 38px;
    line-height: 48px;
  }
}
@media (max-width: 1199.98px) {
  #csr-activities .item .icon {
    width: 50px;
  }
}
@media (max-width: 575.98px) {
  #csr-activities p {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  #generic-banner {
    padding: 50px 0 50px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #generic-banner .left h1,
  #generic-banner .left .h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  #generic-banner .right {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #image-slider .swiper .swiper-slide {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  #image-slider .swiper .swiper-slide .slider-content img {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  #image-slider .swiper .swiper-slide .slider-content img {
    height: 600px;
  }
}
@media (min-width: 992px) {
  .pb_lg--130 {
    padding-bottom: 130px;
  }
}
@media (min-width: 992px) {
  .pt_lg--130 {
    padding-top: 130px;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .page-header h2,
  .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .page-header h2,
  .page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
