#generic-banner {
  padding: 30px 0 30px;
}

#generic-banner .left span {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f05a23;
  position: relative;
  display: inline-block;
}
#generic-banner .left span::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f05a23;
  width: 40px;
  right: -50px;
  top: 10px;
}
#generic-banner .right .banner-link a:hover {
  transition: all 0.25s ease-in;
  color: #000000;
}
#generic-banner .left h1,
#generic-banner .left .h1 {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}

#generic-banner .right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 350px;
  color: #4e4e4e;
}
#generic-banner .right .banner-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f05a23;
  transition: all 0.25s ease-in-out;
}
/* Image Slider */
#image-slider {
  position: relative;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
#image-slider .swiper .swiper-slide .slider-content img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
#image-slider .swiper .swiper-slide .slider-content {
  position: relative;
}

#image-slider .swiper .swiper-slide .slider-content img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* Research Investor */

.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.custom-width {
  max-width: 730px;
  margin: 0 auto;
}

.for-desktop {
  display: none;
}
#reserach-investor .research-nav-menu {
  margin-bottom: 60px;
}
.list-underlist-none {
  list-style: none;
}
#reserach-investor .research-nav-menu li a.active {
  border-bottom: 2px solid #f05a23;
  transition: all 0.25s ease-in;
}
#reserach-investor .research-nav-menu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4e4e4e;
  border-bottom: 2px solid #dddfe3;
  padding: 0 50px 10px 50px;
  transition: all 0.25s ease-in-out;
}
#reserach-investor .research-nav-menu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4e4e4e;
  border-bottom: 2px solid #dddfe3;
  padding: 0 50px 10px 50px;
  transition: all 0.25s ease-in-out;
}
#reserach-investor .research-nav-mobile.for-mobile {
  margin-bottom: 30px;
  border-bottom: 2px solid #dddfe3;
  padding-bottom: 10px;
  position: relative;
}
.for-mobile {
  display: none;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
#reserach-investor .research-nav-mobile.for-mobile .swiper-slide {
  max-width: 200px;
  text-align: left;
}
#reserach-investor .research-nav-mobile.for-mobile .swiper-slide {
  font-weight: 500;
  text-transform: uppercase;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
#reserach-investor .research-nav-mobile.for-mobile .swiper-slide {
  max-width: 200px;
  text-align: left;
}
#reserach-investor .research-nav-mobile.for-mobile .swiper-slide {
  font-weight: 500;
  text-transform: uppercase;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
#reserach-investor #research-accordion .accordion-item {
  border: none;
  margin-bottom: 30px;
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#reserach-investor #research-accordion .accordion-item .accordion-header {
  margin-bottom: 0;
  border-top: 1px solid #00000008;
  border-bottom: 1px solid #00000008;
}
#reserach-investor #research-accordion .accordion-item .accordion-button {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-button::after {
  background-image: url('data:image/svg+xml, %3Csvg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.7917 8.54167H8.54171V14.7917H6.45837V8.54167H0.208374V6.45834H6.45837V0.208336H8.54171V6.45834H14.7917V8.54167Z" fill="black"/%3E%3C/svg%3E');
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.collapse:not(.show) {
  display: none;
}
#reserach-investor #research-accordion .accordion-item .accordion-body {
  margin-top: 20px;
  padding: 0;
}
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item:first-child {
  border: 1px solid #00000008;
  background: #f5f5f5;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item {
  background: #f5f5f582;
  padding: 15px;
}
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  .left {
  padding-right: 30px;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item h3,
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  .h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: #000000;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item h3,
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  .h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: #000000;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item {
  background: #f5f5f582;
  padding: 15px;
}
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  .left {
  padding-right: 30px;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item h4,
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  .h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item a {
  color: #f05a23;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
#reserach-investor
  #research-accordion
  .accordion-item
  .accordion-body
  .item
  a
  svg {
  position: relative;
  top: -4px;
}
#reserach-investor #research-accordion .accordion-item .accordion-body .item a {
  color: #f05a23;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
