@import url(style.css);

.header {
  padding: 0;
  background: #4d4440;
}
.desktop_manu_main{
  padding: 10px 0;
}
.header_logo img {
  max-width: unset;
  height: 52px;
  width: 140px;
}
.dMenu_list{
  margin-top: -60px;
}
.menu_item {
  cursor: pointer;
  position: relative;
}
.menu-item-has-children {
  position: relative;
  padding: 22px 19px;
}

.menu_item {
  padding: 22px 10px;
}

.menu_inner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  column-gap: 8px;
}
.menu-item-has-children::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('data:image/svg+xml, %3Csvg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.58578 5.74761C5.69507 5.85625 5.84292 5.91724 5.99703 5.91724C6.15114 5.91724 6.29898 5.85625 6.40828 5.74761L11.0749 1.08094C11.1705 0.969349 11.2204 0.825805 11.2148 0.678994C11.2091 0.532183 11.1482 0.392918 11.0444 0.28903C10.9405 0.185141 10.8012 0.124281 10.6544 0.11861C10.5076 0.112939 10.364 0.162876 10.2524 0.258442L5.99995 4.51094L1.74745 0.252608C1.6376 0.142764 1.48862 0.0810547 1.33328 0.0810547C1.17794 0.0810547 1.02896 0.142764 0.919112 0.252608C0.809268 0.362452 0.747559 0.511432 0.747559 0.666775C0.747559 0.822118 0.809268 0.971098 0.919112 1.08094L5.58578 5.74761Z" fill="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  bottom: 25px;
  right: -8px;
}
.menu_link span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--pure-white);
  transition: 0.2s;
}
.menu_inner_div .fa-chevron-down {
  color: var(--pure-white);
  font-size: 13px;
}
.menu_item:hover span {
  color: var(--brand-primary-red);
}
.menu_item:hover .fa-chevron-down {
  color: var(--brand-primary-red);
  transform: rotate(180deg);
}
.menu_item:hover .sub_menu {
  opacity: 1;
}
.sub_menu {
  position: absolute;
  top: 75px;
  left: -15px;

  width: 230px;
  background: var(--pure-white);
  padding: 15px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.sub_menu_item {
  padding: 10px 25px;
  margin: 0;
}
.sub_menu_item:hover {
  background-color: #f9f9f9;
}
.sub_menu_link {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  line-height: 26px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}
.sub_menu_item:hover .sub_menu_link {
  color: var(--brand-primary-red);

  padding-left: 10px;
}

/* Mobile menu design start here */
.mobile_menu_open{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 99;
}

.offcanvas_toggle_btn{
  background: transparent;
  font-size: 2rem;
  outline: none;
  border: none;
}
.offcanvas_toggle_btn i{
  color: var(--pure-white);
  font-size: 30px;
}
.mobile_menu_content .offcanvas-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mibile_inner_logo img{
  height: 40px;
}
.mobile_menu_content{
  background: #2b2b2bf5;
}
.offcanvas_close{
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--pure-white);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 24px;
}
.offcanvas_close i{
  font-size: 18px;
  color: var(--pure-white);
  padding-bottom: 0;
  margin-bottom: 0;
}
.mobile_inner_div{
  font-size: var(--subtitle);
  font-weight: 400;
  line-height: 32px;
  color: var(--pure-white);
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  cursor: pointer;
  transition: .25s;
}
.mobile_link{
  font-size: var(--subtitle);
  font-weight: 400;
  line-height: 32px;
  color: var(--pure-white);
  padding: 12px 0;
}
.mobile_sub_link{
  font-size: var(--subtitle);
  font-weight: 400;
  line-height: 32px;
  color: var(--pure-white);
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  display: block;
}
.mobile_inner_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile_sub_list{
  padding: 0 15px;
  display: none;
}
.display_block{
  display: block;
  transition: .25s;
}
.rotate_180{
  transform: rotate(180deg);
}
/* Mobile menu design end here */