@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .for-desktop {
    display: block;
  }
}
@media (min-width: 992px) {
  .pb_lg--130 {
    padding-bottom: 130px;
  }
}
@media (min-width: 992px) {
  .pt_lg--130 {
    padding-top: 130px;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-page-header h2,
  .section-page-header .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
