/* Variables */
:root {
  /* Colors */
  --brand-primary-red: #f05a23;
  --alert-light-red: rgba(255, 99, 96, 0.6);
  --base-black: #000000;
  --neutral-light-black: #4e4e4e;
  --pure-white: #ffffff;

  /* Font Sizes */
  --title-large: 40px;
  --title-large-line-height: 60px;
  --title-medium: 36px;
  --title-small: 26px;
  --subtitle: 20px;
  --subtitle-line-height: 32px;
  --body: 16px;
  --small-text: 14px;

  /* Primary Font */
  --font-primary: Barlow, sans-serif;

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --app-height: 641px;
  --survey-widget-space: 24px;
  --survey-pageless-space: 80px;
  --colour-neutral-1000: #232e3a;
  --colour-neutral-600: #6080a0;

  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}

/*=============== Global CSS Start here ==============*/
* {
  padding: 0;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
i {
  font-size: 14px;
}
.pb--60 {
  padding-bottom: 60px;
}
.pt--60 {
  padding-top: 60px;
}
.section-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

/* Reusable Class Name */
.bg-white {
  background-color: var(--pure-white);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000000;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
}
p {
  font-size: 15px;
  margin: 0 0 1.6em;
  color: #000000;
  line-height: 1.75;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-top: 0;
  padding: 0 20px;
  line-height: 30px;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
a {
  color: #f05a23;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

/*=============== Global CSS End here ==============*/

/* Image Slider */
#image-slider .banner-slide-prev-btn {
  width: 50px;
  height: 50px;
  line-height: 48px;
  right: 100px;
  background-color: rgba(255, 99, 96, 0.6);
  position: absolute;
  bottom: 30px;
  z-index: 2;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 10px 0 0;
  transition: all 1ms ease-in-out;
}
#image-slider .banner-slide-next-btn {
  width: 50px;
  height: 50px;
  line-height: 48px;
  right: 50px;
  background-color: rgba(255, 99, 96, 0.6);
  position: absolute;
  bottom: 30px;
  z-index: 2;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 0 0 10px;
  transition: all 1ms ease-in-out;
}
#image-slider .banner-slide-next-btn.active {
  background-color: #f05a23;
  transition: all 1ms ease-in;
}
#image-slider .banner-slide-prev-btn.active {
  background-color: #f05a23;
  transition: all 1ms ease-in;
}

/* CTA */
.cta {
  padding-top: 30px;
  height: 65px;
  position: relative;
  max-width: 145px;
  cursor: pointer;
}
.cta a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  z-index: 9;
  font-size: 14px;
  animation-name: paddinganimation;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  max-width: 145px;
  display: inline-block;
  text-indent: 5px;
}
.cta a::before {
  content: "";
  background-image: url('data:image/svg+xml, %3Csvg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cline x1="8.74228e-08" y1="1" x2="14" y2="1" stroke="black" stroke-width="2"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0px;
  transform: translate(11px, 10px);
}
.cta a::after {
  content: "";
  background-image: url('data:image/svg+xml, %3Csvg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.324 6.40909L1.43816 6.40909C0.950653 6.40909 0.555447 6.00208 0.555447 5.5C0.555447 4.99792 0.950653 4.59091 1.43816 4.59091L13.324 4.59091L10.4485 1.62951C10.0866 1.25674 10.0866 0.652353 10.4485 0.27958C10.8105 -0.0931935 11.3973 -0.0931935 11.7593 0.27958L16.1729 4.82503C16.5348 5.19781 16.5348 5.80219 16.1729 6.17497L11.7593 10.7204C11.3973 11.0932 10.8105 11.0932 10.4485 10.7204C10.0866 10.3476 10.0866 9.74326 10.4485 9.37049L13.324 6.40909Z" fill="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -15px;
  left: 74px;
  transform: translate(20px, 20px);
  opacity: 0;
}
.cta::after {
  z-index: 0;
  position: absolute;
  left: -20px;
  top: 25px;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #f05a23;
  background-color: #f05a23;
  animation-name: mymove2;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.cta:hover a {
  padding-left: 0px !important;
  text-indent: 0px;
}
.cta:hover::after {
  animation-name: mymove;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.cta:hover a::before {
  content: "";
  background-image: url("");
}
.cta:hover a::after {
  opacity: 1;
}
.cta a::after {
  content: "";
  background-image: url('data:image/svg+xml, %3Csvg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.324 6.40909L1.43816 6.40909C0.950653 6.40909 0.555447 6.00208 0.555447 5.5C0.555447 4.99792 0.950653 4.59091 1.43816 4.59091L13.324 4.59091L10.4485 1.62951C10.0866 1.25674 10.0866 0.652353 10.4485 0.27958C10.8105 -0.0931935 11.3973 -0.0931935 11.7593 0.27958L16.1729 4.82503C16.5348 5.19781 16.5348 5.80219 16.1729 6.17497L11.7593 10.7204C11.3973 11.0932 10.8105 11.0932 10.4485 10.7204C10.0866 10.3476 10.0866 9.74326 10.4485 9.37049L13.324 6.40909Z" fill="black"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -15px;
  left: 74px;
  transform: translate(20px, 20px);
  opacity: 0;
}

@keyframes paddinganimation {
  0% {
    padding-left: 0;
    opacity: 0;
  }
  100% {
    padding-left: 35px;
    opacity: 1;
  }
}
@keyframes mymove {
  0% {
    left: 0px;
  }

  100% {
    left: 85px;
  }
}
@keyframes mymove2 {
  0% {
    left: 85px;
  }
  100% {
    left: 0px;
  }
}
