@media screen and (max-width: 560px) {
  .single-career .career-banner-bg .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .single-career .career-banner-bg .content h2,
  .single-career .career-banner-bg .content .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 560px) {
  .single-career .career-banner-bg .content .group-action {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 560px) {
  .ug__career {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 560px) {
  .ug__career_image {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .single-site-main h2,
  .single-site-main .h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .single-career #career-content-details .content {
    max-width: 830px;
    margin: 0 auto;
  }
}
